<div class="title-menu-bar">
  <header class="title-bar">
    <div class="title">
      <%= link_to "Welcome to\nThe Smell\nof Water", root_path %>
    </div>
  </header>

  <div class="menu-bar">
    <div class="top-dash"></div>

    <nav class="navigation-menu">
      <ul class="links">
        <li><%= link_to "The Book", thebook_url%></li>
        <li><%= link_to "The Authors", authors_url %><li>
        <li><%= link_to "Events", events_url %></li>
        <li><%= link_to "Books in the Works", intheworks_url %></li>
        <li><%= link_to "Contact Us", contact_url %></li>
      </ul>
    </nav>

    <div class="bottom-dash"></div>

    <ul class="photos">
      <li><%= link_to "Photos", photos_url %></li>
    </ul>

    <div class="contact-dash"></div>

    <div class="images-block">
      <a href="mailto:thesmellofwaterbylsrey@gmail.com"><%=  image_tag("email.png", :alt => "email", :class => "image") %></a>
      <a href="https://www.facebook.com/The-Smell-of-Water-571867719588988/?ref=br_rs"><%= image_tag("facebook.png", :alt => "facebook", :class => "image") %></a>
      <a href="https://twitter.com/thesmellofwater" target="_blank"><%= image_tag("twitter.png", :alt => "twitter", :class => "image") %></a>
    </div>
  </div>
</div>

<div id="authors-info">
  <div id="authors-image">
    <%= image_tag("authors.jpg", :alt => "authors-pic", :id => "authors-pic") %>
  </div>

  <div id="authors-text">
    <p>
      Lang was eight when the Khmer Rouge took Cambodia, nine when taken from his family<br>
      and put in a labor camp, and twelve when sent to the front to fight the Vietnamese.<br>
      But he escaped from his infantry unit. And he survived.
    </p>

    <p>
      His wife was the last person to write about war. Her father fought with Patton in<br>
      North Africa, and volunteered to be dropped behind enemy lines. But he never talked<br>
      about it. He returned from the war to raise his children in the English tradition.<br>
      And he made sure they learned to write.
    </p>

    <p>
      She heard Lang's story on their first date; it was the first thing he ever told her<br>
      about himself. How he'd escaped from his unit and tried to find his family. But it was<br>
      the ending that got her – she had to write his story down.
    </p>

    <p>
      She had a degree in Indian Studies and so understood the underlying base of<br>
      Khmer culture, and had visited Cambodia. She'd studied in Manila during the<br>
      Vietnam War and had traveled to other Southeast Asian capitals, so knew how<br>
      cosmopolitan they were at the time Lang was growing up outside of Phnom Penh.<br>
      But she had to learn about war. Other veterans of the Vietnamese invasion<br>
      were able to tell her more about what it was like to be an infantryman in<br>
      Cambodia in 1979, and civilian survivors described the helplessness, and the<br>
      confusion. They all described the destruction.
    </p>

    <p>
      Lang has a degree in Business Administration. He's an avid photographer, and took all the photographs for the book.
    </p>

    <p>
      He and Cornelia never go back to Cambodia empty handed. They have distributed thousands of pairs of reading glasses in silk-weaving<br>
      villages, ensuring that weavers can continue to earn a living and pass on their skills until they choose to retire. During the record<br>
      floods of 2011 and 2012 they distributed more than 100 pounds of medicine (with labels in Khmer).
    </p>

    <p>
      The couple makes their home on the San Francisco Bay. They kayak, hike and bike every chance they get.
    </p>
  </div>
</div>
