<div class="title-menu-bar">
  <header class="title-bar">
    <div class="title">
      <%= link_to "Welcome to\nThe Smell\nof Water", root_path %>
    </div>
  </header>

  <div class="menu-bar">
    <div class="top-dash"></div>

    <nav class="navigation-menu">
      <ul class="links">
        <li><%= link_to "The Book", thebook_url%></li>
        <li><%= link_to "The Authors", authors_url %><li>
        <li><%= link_to "Events", events_url %></li>
        <li><%= link_to "Books in the Works", intheworks_url %></li>
        <li><%= link_to "Contact Us", contact_url %></li>
      </ul>
    </nav>

    <div class="bottom-dash"></div>

    <ul class="photos">
      <li><%= link_to "Photos", photos_url %></li>
    </ul>

    <div class="contact-dash"></div>

    <div class="images-block">
      <a href="mailto:thesmellofwaterbylsrey@gmail.com"><%=  image_tag("email.png", :alt => "email", :class => "image") %></a>
      <a href="https://www.facebook.com/The-Smell-of-Water-571867719588988/?ref=br_rs"><%= image_tag("facebook.png", :alt => "facebook", :class => "image") %></a>
      <a href="https://twitter.com/thesmellofwater" target="_blank"><%= image_tag("twitter.png", :alt => "twitter", :class => "image") %></a>
    </div>
  </div>
</div>

<div id="contact-info">
  <div id="contact-pic">
    <%= image_tag("contact-pic.jpg", :alt => "contact-img", :class => "contact-image") %>
    <p id="caption-tag">The authors at Angkor Wat, 2016</p>
  </div>

  <div id="contact-text">
    <p>
      We’re just a click away, at <%= mail_to("TheSmellofWaterbyLSrey@gmail.com", name = nil, html_options = {:subject => "Hello!"} )%>. We answer all our mail.
    </p>

    <p>
      If you enjoyed The Smell of Water, we would sincerely appreciate a post of your review on the book’s Amazon page.
    </p>

    <p>
      If you would like signed copies of our books, please e-mail us.
    </p>

    <p>
      If you would like to order Cambodian silk, e-mail Cornelia with what you
      would like her to bring back for you. She can get ikat (“hol”), brocade
      (“pamuong” and three kinds of “chorabab”), embroidered organza, and
      Buddhist ikat tapestries (“pidan”). Scarves, and wraps to go over evening
      clothes, are our most-requested items. We buy only from the finest weavers,
      and pay fair trade prices.
    </p>
  </div>
</div>
