<div class="title-menu-bar">
  <header class="title-bar">
    <div class="title">
      <%= link_to "Welcome to\nThe Smell\nof Water", root_path %>
    </div>
  </header>

  <div class="menu-bar">
    <div class="top-dash"></div>

    <nav class="navigation-menu">
      <ul class="links">
        <li><%= link_to "The Book", thebook_url%></li>
        <li><%= link_to "The Authors", authors_url %><li>
        <li><%= link_to "Events", events_url %></li>
        <li><%= link_to "Books in the Works", intheworks_url %></li>
        <li><%= link_to "Contact Us", contact_url %></li>
      </ul>
    </nav>

    <div class="bottom-dash"></div>

    <ul class="photos">
      <li><%= link_to "Photos", photos_url %></li>
    </ul>

    <div class="contact-dash"></div>

    <div class="images-block">
      <a href="mailto:thesmellofwaterbylsrey@gmail.com"><%=  image_tag("email.png", :alt => "email", :class => "image") %></a>
      <a href="https://www.facebook.com/The-Smell-of-Water-571867719588988/?ref=br_rs"><%= image_tag("facebook.png", :alt => "facebook", :class => "image") %></a>
      <a href="https://twitter.com/thesmellofwater" target="_blank"><%= image_tag("twitter.png", :alt => "twitter", :class => "image") %></a>
    </div>
  </div>
</div>

<div id="event-content">
  <div id="title">
    <p>Events</p>
  </div>

  <div id="body-text">
    <p>2016 Events:</p>

    <p>January – Book launch at Monument Books, Phnom Penh</p>

    <p>April – Cambodian New Year at Hacienda Peralta Park, Oakland, CA and Wat Dhammararam, Stockton, CA</p>

    <p>May – The Himalayan Fair at Live Oak Park, Berkeley, CA</p><br>

    <p>As they are working on two new books, and the Kindle version of The Smell of Water, they do not anticipate doing more events in 2016.</p>
  </div>
  </div>
</div>
