<div class="title-menu-bar">
  <header class="title-bar">
    <div class="title">
      <%= link_to "Welcome to\nThe Smell\nof Water", root_path %>
    </div>
  </header>

  <div class="menu-bar">
    <div class="top-dash"></div>

    <nav class="navigation-menu">
      <ul class="links">
        <li><%= link_to "The Book", thebook_url%></li>
        <li><%= link_to "The Authors", authors_url %><li>
        <li><%= link_to "Events", events_url %></li>
        <li><%= link_to "Books in the Works", intheworks_url %></li>
        <li><%= link_to "Contact Us", contact_url %></li>
      </ul>
    </nav>

    <div class="bottom-dash"></div>

    <ul class="photos">
      <li><%= link_to "Photos", photos_url %></li>
    </ul>

    <div class="contact-dash"></div>

    <div class="images-block">
      <a href="mailto:thesmellofwaterbylsrey@gmail.com"><%=  image_tag("email.png", :alt => "email", :class => "image") %></a>
      <a href="https://www.facebook.com/The-Smell-of-Water-571867719588988/?ref=br_rs"><%= image_tag("facebook.png", :alt => "facebook", :class => "image") %></a>
      <%= image_tag("twitter.png", :alt => "twitter", :class => "image") %>
    </div>
  </div>
</div>

<div id="body-text">
  <div id="reviews">
    <p>
      “Masterfully written.”<br>
          &emsp;– Andy Martin, Executive Producer of "The Monkey Kid",<br>
          &ensp;&ensp;&emsp;Official Selection of the Cannes International Film Festival (1995)
    </p>

    <p>
      “We salute Lang for his bravery and fortitude in escaping his<br>
      oppressors and surviving in the jungle. We salute Cornelia for<br>
      knowing this was a story that must be told, for her endless research,<br>
      and for her belief in Lang and his amazing journey.”<br>
      &emsp;– The Viet Nam Veterans of Diablo Valley, California
    </p>

    <p id="reader-reviews">
      Reviews from our readers
    </p>

    <p>
      “What makes this book stand out from others like it is that the horrors of<br>
      &emsp;&emsp;war aren't the focus, the boys’ survival is.”
    </p>

    <p>
      “Not since "Unbroken" have I read a book with such heart and soul.”
    </p>

    <p>
      “Put this book on your ‘must read’ list.”
    </p>
  </div>

  <div id="book-image">
    <%= image_tag("cover-of-sow.png", :alt => "cover-image", :id => "cover-image") %>
  </div>
</div>
