<div class="title-menu-bar">
  <header class="title-bar">
    <div class="title">
      <%= link_to "Welcome to\nThe Smell\nof Water", root_path %>
    </div>
  </header>

  <div class="menu-bar">
    <div class="top-dash"></div>

    <nav class="navigation-menu">
      <ul class="links">
        <li><%= link_to "The Book", thebook_url%></li>
        <li><%= link_to "The Authors", authors_url %><li>
        <li><%= link_to "Events", events_url %></li>
        <li><%= link_to "Books in the Works", intheworks_url %></li>
        <li><%= link_to "Contact Us", contact_url %></li>
      </ul>
    </nav>

    <div class="bottom-dash"></div>

    <ul class="photos">
      <li><%= link_to "Photos", photos_url %></li>
    </ul>

    <div class="contact-dash"></div>

    <div class="images-block">
      <a href="mailto:thesmellofwaterbylsrey@gmail.com"><%=  image_tag("email.png", :alt => "email", :class => "image") %></a>
      <a href="https://www.facebook.com/The-Smell-of-Water-571867719588988/?ref=br_rs"><%= image_tag("facebook.png", :alt => "facebook", :class => "image") %></a>
      <a href="https://twitter.com/thesmellofwater" target="_blank"><%= image_tag("twitter.png", :alt => "twitter", :class => "image") %></a>
    </div>
  </div>
</div>

<div id="thebook-content">
  <div id="thebook-pic">
    <%= image_tag("cover-of-sow", :alt => 'cover-pic', :id => "book-pic") %>
  </div>

  <div id="thebook-text">
    <p>
      1979, Cambodia, Eastern Zone:  Two comrades, twelve and fourteen,
      are RUNNING to get away from their infantry unit before the
      invading Vietnamese kill all of them. They reach the foot of a
      mountain - and disappear into the jungle. Neither of them has any
      food or water. They have no blankets, either, or protective clothing
      of any kind. They have no matches, no medicine, no maps, no money,
      no compass, no radio... they don't even know where they are.
    </p>

    <p>
      But these are the little problems. By getting themselves away from their
      unit and from the Vietnamese, they've put themselves right in between the
      two of them. If they can squeeze out, they don't know the terrain and
      there's no way to get information - it's as though they've escaped to
      some lost planet. Their plan had been to get back to where they'd last
      seen their mothers, four years before. But they don't know if anyone in
      their families is still alive. Only one thing is clear - neither one of
      them will make it without the other.
    </p>

    <p>
      As they rest under a banyan tree they contemplate their chances. And
      suddenly, it's dark.
    </p>

    <p>
      Lang Srey was the younger of the two boys. He is one of just a handful of
      Khmer survivors of the Khmer Rouge genocide to have written a book-length
      survivor's account.
    </p>

    <p>
      You can purchase the book
      <%= link_to("https://www.amazon.com/Smell-Water-twelve-year-old-soldiers-determination/dp/0692407502/ref=sr_1_1?ie=UTF8&qid=1465704047&sr=8-1&keywords=the+smell+of+water", :target=>"_blank") do %>
        <%= "here" %>
      <% end %>
       and if you would like a signed copy, please e-mail the authors
       <%= link_to("mailto:thesmellofwaterbylsrey@gmail.com", :target=>"_blank") do %>
         <%= "here" %>.
       <% end %>
    </p>
  </div>
</div>
